<div>
  <div class="btn-group">
    <a href="/Core/Account" class="btn btn-default" role="button">All</a>
    <a href="/Core/Account/AccountsOfType?typeName=Bank" class="btn btn-default">Bank</a>
    <a href="/Core/Account/AccountsOfType?typeName=Income" class="btn btn-default">Income</a>
    <a href="/Core/Account/AccountsOfType?typeName=Expense" class="btn btn-default">Expense</a>
    <a href="/Core/Account/AccountsOfType?typeName=Creditor" class="btn btn-default">Creditor</a>
    <a href="/Core/Account/AccountsOfType?typeName=Debtor" class="btn btn-default">Debtor</a>
  </div>
  <div style="float: right;">
    <a href="/Core/Account/New" class="btn btn-default" role="button">New Account</a>
  </div>
</div>