@model BoozeHoundCloud.Areas.Core.Models.AccountType

@Html.Partial("_AccountTypeLinks")

<h2>@Model.Name Accounts</h2>

<table id="accountsTable" class="table table-bordered table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th>Balance</th>
  </tr>
  </thead>
</table>

@section scripts
{
  <script>
    $(document).ready(function() {
      $('#accountsTable').DataTable({
        ajax:
        {
          url: '/api/Core/Account?typeId=' + @Model.Id,
          dataSrc: ''
        },
        columns:
        [
          { data: 'Name' },
          { data: 'Balance' }
        ]
      });
    });
  </script>
}
